@import "carddetails.css";
@import "cardlist.css";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
}

/* Navbar CSS */

.title {
  flex-grow: 0;
}

/* Dashboard CSS */

.dashboard {
  height: 100%;
  overflow: hidden;
  background-color: #292929;
  font-family: "Inter", sans-serif;
  font-family: "Roboto", sans-serif;
}
